<div id="container">
  <div id="sidebar">
    <div><%=request.path_parameters[:action].capitalize%></div>
    <h1 id="num">
      <%=params[:last].capitalize%>
    </h1>
  </div>
  <div id="image">
  <% @cards.each do |card| %>
    <a href="<%=card.last%>">
    <%= image_tag "magic_img/%s.jpg" % card.id.to_s %>
    </a>
  <% end %>
  </div>
</div>
